
<!-- 
<mat-sidenav-container>
    <mat-sidenav>
        <app-sidenav-list></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-app-header></app-app-header>
        <app-navtabs></app-navtabs>
    </mat-sidenav-content>

</mat-sidenav-container> 
-->
<mat-sidenav-container>
    <mat-sidenav>
        <app-sidenav-list></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        <app-navtabs></app-navtabs>
    </mat-sidenav-content>

</mat-sidenav-container>

<router-outlet></router-outlet>